<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
		<title>eat hamberders</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<div class="main">
			{{{ body }}}
		</div>
	</body>
</html>
